.container {
  max-width: 960px;
  min-height: 100vh;
}

.toggle {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.dark-mode {
  /* background-color: #222222; */
  background-color: #303030;
  color: #ffffff;
  height: 100%;
  transition: 0.2s;
}

.light-mode {
  transition: 0.2s;
  /* background-color: #fafafa; */
}
